:root{
    --primary-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
    --primary-color:  #F9F7FE;
    --secondary-color:  #6C63FF;
    --primary-font-color:  #272142;
}


h2{
    color: black;
    font-family: var(--primary-font-family);
    font-weight: bold;
    font-size: 64px;
}
h3{
    color: black;
    font-size: 18px;
    font-family: var(--default-font-family);
}
h4{
    font-family: var(--default-font-family);
    font-size: 24px;
    color: black;
    font-weight: bold;
}
h5{
    font-family: var(--primary-font-family);
    font-size: 48px;
}

p{
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

img{
    border-radius: 4px;
}

.hero{
    background: url(images/pexels-ron-lach-copy.jpg) no-repeat center;
    text-align: center;
    padding: 160px 20px;
}

.hero h1{
    font-family: var(--primary-font-family);
    font-size: 96px;
    line-height: 1.5;  
     color: black;
     font-weight: bold;
}
.hero h2{
    font-family: var(--default-font-family);
    color: var(--primary-font-color);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;   
}
.hero p{
    font-family: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -25px;
   margin-left: 8.8%;
    color: #F9F7FE;
    -webkit-text-stroke: 1px black;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.192);
}

.project-descriptions{
    padding: 120px 60px;
}

.about-section-content{
    margin: 30px;
}


li{
    font-family: var(--default-font-family);
    display: inline;
    list-style: none;
    margin: 10px 10px;
}
li .active{
    color: var(--secondary-color);
}
ul{
    
    margin: 10px;
    
}
nav a{
    text-decoration: none;
    color: var(--primary-font-color);
}
nav a:hover, nav a .active li{
    color: var(--secondary-color);
}


.logo{
    margin: 10px 20px 10px;
   
}
.logo-small{
    margin: 0 auto;
}
.btn-branding{
    background: var(--primary-font-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    box-shadow:  0px 5px 5px rgba(0, 0, 0, 0.192);
}
.btn-branding:hover{
    background: var(--primary-color);
    color: var(--primary-font-color);
    border: 1px solid var(--primary-font-color);
    transition: all 100ms ease-in-out;
}

.btn-branding-outline{
    background: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 16px;
    line-height: 27px;
    padding: 15px 30px;

}
footer{
    margin: 60px;
    
}
footer .contact-box{
    background: var(--primary-color);
    padding: 30px;
    border-radius: 10px;
}
footer .email-link a{
    text-decoration: none;
    color: black;
    font-size: 24px;    
}
footer .email-link a:hover{
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}
footer .social-links a{
    margin: 0 20px;
    padding: 10px 14px;
    color: black;
    background: var(--primary-color);
    border-radius: 50%;
    font-size: 18px;
}
footer .social-links a:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: all 100ms ease-in-out;
}
footer .coder{
    font-size: 10px;
}

@media (max-width: 900px){
   
    
    .hero{
        padding: 80px 20px;
        text-align: center;
    }
    .hero h1{
        font-size: 44px;
        line-height: 56px;
    }
    .hero h2{
        font-size: 18px;
    }
   
    .hero p{
        font-size: 30px;
        margin-bottom: -5px;
    }
    .content p{
        margin-bottom: 2px;
    }
    .content h2{
        font-size: 42px;
    }
    .project-descriptions{
        text-align: center;
        padding: 0;
    }
    .project-descriptions h2{
        font-size: 36px;       
    }
    .hero-section-content{
        text-align: center;
        padding: 0;
    }
    ul{
        padding: 0 auto;
        font-size: 13px;
    }
   
}